body {
  font-family: Arial;
  margin:0;
  background:#f4f6f9;
}

.navbar {
  background:#0d6efd;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

.navbar a {
  color:white;
  text-decoration:none;
  margin-left:15px;
}

.container {
  padding:20px;
}

select, input {
  padding:8px;
  margin-right:10px;
  margin-top:10px;
}

.grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  margin-top:20px;
}

.card {
  background:white;
  padding:15px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  position:relative;
}

.card img {
  width:100%;
  border-radius:8px;
}

.badge {
  position:absolute;
  top:10px;
  left:10px;
  background:#d63384;
  color:white;
  padding:5px 8px;
  font-size:12px;
  border-radius:5px;
}

button, .btn {
  background:#198754;
  color:white;
  padding:10px;
  border:none;
  cursor:pointer;
  display:inline-block;
  margin-top:10px;
}
