.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
}

.logo-img {
  height: 40px;
}

.cart-icon {
  height: 26px;
}

.hero-slider {
  position: relative;
  overflow: hidden;
  height: 320px;
  margin-bottom: 40px;
  border-radius: 12px;
}

.slide {
  display: none;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  display: block;
}
